In [146]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [155]:
#getting and storing Dataframe into df:
df = pd.read_csv('gender_classification.csv')
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [148]:
#we drop the target output column "gender" then store the Dataframe into x:
x = df.drop(['gender'],axis=1).values
x

array([[ 1. , 11.8,  6.1, ...,  0. ,  1. ,  1. ],
       [ 0. , 14. ,  5.4, ...,  0. ,  1. ,  0. ],
       [ 0. , 11.8,  6.3, ...,  1. ,  1. ,  1. ],
       ...,
       [ 1. , 12.9,  5.7, ...,  0. ,  0. ,  0. ],
       [ 1. , 13.2,  6.2, ...,  0. ,  0. ,  0. ],
       [ 1. , 15.4,  5.4, ...,  1. ,  1. ,  1. ]])

In [149]:
#we take the target output column "gender" and store it into y:
y = df['gender'].values
y

array(['Male', 'Female', 'Male', ..., 'Female', 'Female', 'Male'],
      dtype=object)

In [141]:
#because we want the model to predict either male or female, we use the DecisionTreeClassifier function from sklearn:
model = DecisionTreeClassifier()

In [150]:
#we split our Dataframe using train_test_split function (70% training, 30% testing):
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [151]:
#model training:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [152]:
#Testing model by making predictions:
predictions = model.predict(x_test)
predictions

array(['Female', 'Male', 'Male', ..., 'Female', 'Female', 'Female'],
      dtype=object)

In [156]:
#calculating the accuracy (with accuracy_score function from sklearn) to see how good the model's predictions are:
score = accuracy_score(y_test, predictions)
score

0.966688874083944